{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Prix</th>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
